body {
    margin: 0 0;
    padding: 0 0;
    text-align: center;
}

.billboard {
    width: 100%;
    height: 400px;
    background-image: url("../imgs/bluegradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
}


.billboard h1,
.billboard h2 {
    margin: 0;
    padding: 0;
}

.billboard h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    position: relative;
    top: 40px;
}

.billboard p {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    position: relative;
    top: 50px;
    height: 100px;
    margin: 0 60px;
}

.billboard a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
    position: relative;
    top: 160px;
    border: 4px;
    border-style: solid;
    border-radius: 5px;
    padding: 13px;
}

.billboard a:hover {
    background-color: black;
    color: white;
    border-color: black black;
}

.blackbar {
    background-color: #333;
    position: relative;
    top: 220px;
    height: 40px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.sitename {
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: white;
    padding: 15px;
}

.info {
    margin: 50px 8px 0px;
    text-align: left;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    margin: 0 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    margin: 0px 0;
    padding: 0 0 0 0;
}

hr {
    margin: 30px 85px;
    border-color: black;
}

.info a {
    font-family: 'Open Sans', sans-serif;

}

.footer {
    background-color: #333;
    position: relative;
    height: 50px;
    top: 500px;
}

.footer img {
    position: relative;
    float: right;
    height: inherit;
    width: 40px;
    margin: 5px 10px;
}

.footer p {
    font-family: 'Open Sans', sans-serif;
    float: left;
    vertical-align: middle;
    margin-left: 8px;
    color: white;
}