html {
    font-size: 100%;
}

body {
    margin: 0 0;
    padding: 0 0;
    text-align: center;
}

.billboard {
    width: 100%;
    height: 400px;
    background-image: url("../imgs/bluegradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


.billboard h1,
.billboard h2 {
    margin: 0;
    padding: 0;
}

.billboard h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.125rem;
    position: relative;
    top: 20px; 
}

.billboard p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.875rem;
    position: relative;
    top: 30px;
    height: 100px;
    margin: 0 60px;
}

.billboard a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    position: relative;
    top: 150px;
    border: 4px;
    border-style: solid;
    border-radius: 5px;
    padding: 13px;
}

.billboard a:hover {
    background-color: black;
    color: white;
    border-color: black black;
}

.blackbar {
    background-color: #333;
    position: relative;
    top: 220px;
    height: 40px;
}

header ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    padding: 0;
    margin: 0;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* Change the link color to #111 (black) on hover */
header li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.sitename {
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: white;
    padding: 15px;
}

.info {
    margin: 50px 8px 0px;
    text-align: left;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.875rem;
    margin: 0 0 0 0;
    padding: 0 0;
}

h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    margin: 0 0 50px 0;
    padding: 0 0 0 0;
}

.python {
    margin: 0px 0px 0px;
    padding: 0 0;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.563rem;
    margin: 0 0 12px 0;
    padding: 0px 0px;
}

hr {
    margin: 30px 85px;
    border-color: black;
}

.info a {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 30px;
}

.footer {
    position: fixed;
    float: right;
    width: 100%;
    bottom: 0px;
    margin: 0px 0px;
    padding: 0px 0px;
}

.footer img {
    position: relative;
    float: right;
    height: inherit;
    width: 40px;
    margin: 5px 10px;
}

.footer p {
    font-family: 'Open Sans', sans-serif;
    float: left;
    vertical-align: middle;
    margin-left: 8px;
    color: white;
}

@media screen and (max-width:800px) {
    header li {
        width: 100%; 
    }
    
    .sitename {
        display: none;
    }
    
    .footer {
        float: none;
        background-color: #333;
    }
}